{% extends "layouts/base-home.html" %}
{% block title %} Board {% endblock %}
{% block content %}
<!-- this is summary main page  -->
<section>
    <div class="container mt-2 ml-1">
        <div class="row justify-content-start">
            <div class="col-12">
                <h3 class="text-center">Summary</h3>
            </div>
            {% for item in list %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{ item.name }} </h5>
                        <h6> total cards : {{card_dict[item.id][3]}}</h6>
                        <h6 class="text-success">Tasks completed</h6>
                        <p class="card-text text-success"> {{card_dict[item.id][0]}}</p>
                        <h6 class="text-danger">Dedline missed</h6>
                        <p class="card-text text-danger"> {{card_dict[item.id][1]}}</p>
                        <h6>In progress</h6>
                        <p class="card-text"> {{card_dict[item.id][2]}}</p>
                        <img class="card-img-top" src="{{url_for('static', filename='piechart'+item.id|string+'.png')}}" alt="image"/>
                    </div>
                </div>
        </div>
        {% endfor %}
        <img class="card-img-top" src="{{url_for('static', filename='linegraph.png')}}" alt="image"/>
    </div>
    </div>
<script>
</script>
</section>

{% endblock content %}