{% extends "layouts/base-home.html" %}
{% block title %} Board {% endblock %} 
{% block content %}
    <!-- Main content -->
    <section class="py-7">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                    <!-- Text -->
                    <p class="lead text-center text-md-left text-muted">
                        Organize this easly 
                    </p>
    </section>
{% endblock content %}

