{% extends "layouts/base-home.html" %}
{% block title %} Board {% endblock %}
{% block content %}
<!-- Main content -->
<section>
    <div class="container mt-5 ml-1">
        <div class="row justify-content-start">
            {% for i in list %}
            <div class="col-sm">
                <div class="card">
                    <div class="card-header d-flex justify-content-center m-1">
                        <div id="demo">
                            <button type="button" class="btn btn-light" onclick="redirectto('{{i.id}}')">
                                 {{i.name}}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="mx-2 my-2">
                        <!-- cards  -->
                        {% for j in i.card %}
                        <div class="card mx-auto text-center">
                            <div class="card-body">
                                <h5 class="card-title">{{j.Title}}</h5>
                                <p class="card-text">{{j.Content}}</p>
                                <a href="#" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="justify-content-center align-content-center">
                            <a href="/createcard" class="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                                Add Card
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col d-flex align-items-center justify-content-center mx-1 my-1">
                <div class="justify-content-center align-content-center">
                    <a href="/createlist" class="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                        Add List

                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<script>
    function redirectto(id) {
        window.location.href = "/createlist/" + id 
    }
    </script>
{% endblock content %}